* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

header {
  width: 100%;
  height: 20vh;
  display: flex;
}

.logo {
  width: 20%;
  margin-left: 50px;
}

.logo img {
  width: 200px;
}

.barra-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.barra-busqueda_cuadro {
  width: 80%;
  height: 50px;
  padding-left: 30px;
  background-color: #C4C4C4;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.barra-busqueda_cuadro img {
  width: 30px;
}

.barra-busqueda_cuadro input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  border-end-end-radius: 15px;
  border-start-end-radius: 15px;
  width: 100%;
  height: 100%;
  padding-left: 30px;
}

.carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.carrito-mobile {
  display: none;
}

.carrito img {
  width: 50px;
}

main {
  width: 100%;
  height: auto;
  padding-top: 20px; /*checar despues*/
  display: flex;
  margin-bottom: 30px;
}

main aside {
  width: 30%;
  height: 380px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.boton-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 40px;
  background-color: #C4C4C4;
  border-radius: 15px;
  cursor: pointer;
}

.boton-aside:hover {
  background-color: #B7B7B7;
}

.boton-aside a {
  text-decoration: none;
  color: black;
}

.section-main {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 20px;
}

.articulo {
  width: 220px;
  height: 270px;
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}

.articulo:hover {
  background-color: #E8E8E8;
}

.titulo-articulo {
  font-size: larger;
}

.imagen-articulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.imagen-articulo img {
  width: 180px;
}

.precios-articulos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.precio-rebaja {
  color: #FF0000;
  font-size: larger;
}

.precio-original {
  text-decoration:line-through;
  margin-left: 6px;
  font-size: 12px;
}

footer {
  width: 100%;
  min-height: 80px;
  background-color: #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-referencia {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.section-articulos {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articulo-informacion {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #EDEDED;
  border-radius: 15px;
  padding: 60px 20px 60px 20px;
}

.articulo-informacion_datos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.articulo-informacion_datos img {
  width: 350px;
}

.articulo-informacion_texto {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.articulo-informacion_texto h2 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 5px;
}

.articulo-informacion_texto .precios-articulos {
  margin-bottom: 10px;
}

.botones-compra {
  width: 100%;
  display: flex;
  justify-content: center;
}

.boton-compra {
  width: 40%;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
}
.comprar-ahora {
  background-color: #4B73B8;
  color: white;
  margin-right: 20px;
}

.comprar-ahora:hover {
  background-color: #1B58C0;
}

.agregar-carrito {
  background-color: #A9C2EE;
  color: black;
}

.agregar-carrito:hover {
  background-color: #84ACF2;
}

@media screen and (max-width: 1000px) {  
  .section-main {
    grid-template-columns: repeat(2, auto);
  }
  .logo {
    margin-left: 0;
  }
  .articulo-informacion_datos {
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
  }
  .articulo-informacion_texto {
    width: 80%;
  }
  .articulo-informacion_datos img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-main {
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  .opciones {
    display: none;
  }
  footer {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .footer-referencia {
    width: 50%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .referencias {
    flex-wrap: wrap;
    height: auto;
  }
  .principal {
    justify-content: space-between;
  }
  .carrito {
    display: none;
  }
  .barra-busqueda {
    display: none;
  }
  .carrito-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carrito-mobile img {
    width: 50px;
    margin-right: 25px;
  }
  .botones-compra {
    flex-direction: column;
    align-items: center;
  }
  .boton-compra {
    width: 70%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .articulo-informacion_datos img {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-main {
    width: 100%;
    grid-template-columns: repeat(1, auto);
  }
  .opciones {
    display: none;
  }
  .footer-referencia {
    width: 100%;
  }
}